* {
    font-size: 100%;
    font-family: "Avenir Next", sans-serif;
}

img.resize {
    width:100px; /* you can use % */
    height: auto;
}

p {
    font-size : 20px;
}

.app-container {
    text-align: right;
}

.app {
    display: inline-block;
    margin-right: 46.5%
}

a:link {
    color: white;
    text-decoration-line: none;
}

a:visited {
    color: white;
    text-decoration-line: none;
}

a:hover {
    color: lightgray;
    text-decoration-line: none;
}

a:active {
    color: lightgray;
    text-decoration-line: none;
}

.base-header {
    font-size: 40px;
    color: #007dc3;
    display: inline-block;
}

.graph-link-container {
    display: inline-block;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #007dc3;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 83%;
    color: white;
    text-align: left;
    width: 100px
}

.graph-link {
    padding: 10px 22px 10px 30px;
}

.graph-container {
    text-align: center;
}

.graph-content-container {
    text-align: center;
}

.graph-content {
    display: inline-block;
}

.hb-selector {
    text-align: right;
}

.map {
    display: inline-block;
    overflow: hidden;
    width: 200px;
}

.map-selector {
    display: inline-block;
    /text-align: left;
}

.map-text {
    display: inline-flex;
    text-align: justify;
    width: 100%;
    font-size: 16px;
}

.map-container {
    text-align: right;
}
.map-link-container {
    display: inline-block;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #007dc3;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    text-align: left;
    width: 150px
}

.map-link {
    padding: 10px 22px 10px 30px;
}

.map-content-container {
    text-align: right;
}

.map-right-container {
    display: inline-block;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
