{% extends 'base.html' %}

{% block header %}
{% block title %}Map{% endblock %}
{% endblock %}

{% block content %}
<div class = "map-content-container">
    <div class = "map-selector">
        <div class = "row">
            <div class = "col-sm-6">
                <h2>{{ map_info }}</h2>
                <div class = "map">
                    <img src=" {{ img_str }}" width="85%">
                </div>
            </div>
            <div class = "col-sm-6">
                <div class = "map-right-container">
                    <div class = "map-text">
                        <p font-size="20px">Use this application to compare and contrast between alcohol related hospital stays and mental health related
                        hospital stays for each Health Board in Scotland.</p>
                        <p>
                            Areas are on a colour scale of light to dark where a darker colour represents a larger amount of hospital staysper 100 population and a
                            lighter colour represents less patients.
                        </p>

                    </div>
                    <div class = "map-controls">
                        <h3> Map Controls </h3>


                        <div class = "hb-selector">
                            <form action = {{ url_for('show_map') }} method="post">
                                <div class="map-selector">
                                    {% for i in year.graph %}
                                    <tr>
                                        <td>{{ i }}</td>
                                        <td>{{ i.label }}</td>
                                    </tr>
                                    {% endfor %}
                                    <!--{{ year.graph(class_="map-selector") }} -->
                                </div>
                                    <p></p>
                                    <tr>
                                        {{ year.sel }}
                                    </tr>


                                <input type=submit value="Select Map to Display">
                            </form>
                        </div>

                    </div>
                    <p></p>
                    <p></p>

                </div>
                <div class = "graph-controls">
                    <h3> Graph Control </h3>

                    <div class = "hb-selector">
                        <form action = {{ url_for('show_map') }} method="post">
                            {{ form.hb }}
                         <input type=submit value="Select Healthboard">
                        </form>
                    </div>
                    <div class = "map-container">
                        <div class = "map-link-container">
                             <a class = "map-link" href="{{ url_for('show_graph') }}">Show Graphs</a>
                     </div>
                    </div>


                </div>


            </div>
            </div>




        </div>
    </div>
</div>

{% endblock %}
