{% extends 'base.html' %}

{% block header %}
{% block title %}Map{% endblock %}
{% endblock %}

{% block content %}
<div class = "map-content-container">
    <div class = "map-selector">
        <div class = "row">
            <div class = "col-sm-6">
                <h3>{{ map_info }}</h3>
                <div class = "map">
                    <img src=" {{ img_str }}" width="85%" margin="-11% 0"/>
                </div>
            </div>
            <div class = "col-sm-6">
                <div class = "map-right-container">
                    <div class = "map-text">
                        <p font-size="20px">Use this application to compare and contrast between alcohol related hospital stays and mental health related
                        hospital stays for each Health Board in Scotland.</p>
                        <p>
                            Areas are on a colour scale of light to dark where a darker colour represents a larger amount of hospital stays per 10000 population and a
                            lighter colour represents less patients.
                        </p>
                        <p>
                            In the case of the combined map, we are showing the difference between the alcohol related stays and mental health related stays per health board.
                            Darker colours indicate areas where there appears to be a correlation between the number of patients who are admitted for alcohol conditions and
                            the number of patients admitted for mental health conditions.
                        </p>

                    </div>
                    <div class = "map-controls">
                        <h3> Map Controls </h3>


                        <div class = "hb-selector">
                            <form action = {{ url_for('show_map') }} method="post">
                                <div class="map-selector">
                                    {% for i in year.graph %}
                                    <tr>
                                        <td>{{ i }}</td>
                                        <td>{{ i.label(class_="map-radio")}}</td>
                                    </tr>
                                    {% endfor %}
                                    <!--{{ year.graph(class_="map-selector") }} -->
                                </div>
                                <br>
                                    <tr>
                                        {{ year.sel}}
                                    </tr>


                                <input class="map-radio-link" type=submit value="Select Map to Display">
                            </form>
                        </div>

                    </div>
                    <p></p>
                    <p></p>

                </div>
                <div class = "graph-controls">
                    <h3> Graph Control </h3>

                    <div class = "graph-selector">
                        <form action = {{ url_for('show_map') }} method="post">
                            {{ form.hb }}
                         <input class="map-radio-link" type=submit value="Select Healthboard">
                        </form>
                        <div class = "map-container">
                        <div class = "graph-link-container">
                             <a class = "graph-link" href="{{ url_for('show_graph') }}">Show Graphs</a>
                     </div>
                    </div>
                    </div>



                </div>


            </div>
            </div>




        </div>
    </div>
</div>

{% endblock %}
